{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 p-3">
            <h5 class="pb-3">Add Menu Item</h5>
            <form method="POST">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <label class="form-label" for="title-form">Title</label>
                    {{ form.title }}
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="price-form">Price</label>
                    {{ form.price }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}