{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}

<title>Add</title>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col p-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-3 offset-md-3">
            <div id="results-box" class="results-card not-visible text-right bg-dark rounded-bottom"></div>
    </div>
</div>

{% endblock %}