{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}

<title>Edit Ingredient</title>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 p-3">
            <form method="POST">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    {{ form.name }}
                    <label class="form-label" for="name-form">Name</label>
                </div>
                <div class="form-outline mb-4">
                    {{ form.quantity }}
                    <label class="form-label" for="quantity-form">Quantity</label>
                </div>
                <div class="form-outline mb-4">
                    {{ form.unit }}
                    <label class="form-label" for="unit-form">Unit</label>
                </div>
                <div class="form-outline mb-4">
                    {{ form.unit_price }}
                    <label class="form-label" for="unit-price-form">Unit Price</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}