{% extends 'inventory/base.html' %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
<title>Edit Ingredient</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col p-3">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <p>
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endbuttons %}
                </p>
                
            </form>
        </div>
        <div class="col-3 offset-md-3">
            <div id="results-box" class="results-card not-visible text-right bg-dark rounded-bottom"></div>
    </div>
</div>

{% endblock %}