{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}

<title>Home</title>

{% endblock %}

{% block content %}

<div class="container home-bg">
    <div class="row">
        <div class="col home-description">
            <p style="padding-left:2%">Restaurant</p>
            <p style="padding-left:8%">Inventory</p>
            <p style="padding-left:16%">Madness</p>
        </div>
        <div class="col align-self-end offset-md-6">
            {% if user.is_authenticated %}
            <p style="color:antiquewhite; font-size:18px; background-color:black; text-align:center">Hello, {{ user.username }}</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}