{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}

<title>Ingredients</title>

{% endblock %}

{% block content %}

<div class="container home-bg">
    <div class="row">
        <div class="col col-6 p-3">
            <table id="purchaseTable" class="table table-hover table-borderless">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Price/Unit</th>
                    <th scope="col">Action</th>
                </thead>
                <tbody>
                    {% for item in ingredients %}
                    <tr>
                        <th scope="row">{{ item.name|title }}</th>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.unit }}</td>
                        <td>{{ item.unit_price }}</td>
                        <td><a href="{% url 'inventory:editingredient' item.id %}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Update</button></a>
                            <a href="{% url 'inventory:deleteingredient' item.id %}">
                            <button type="button" class="btn btn-outline-danger btn-sm">Remove</button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-6 p-3">
            <img src="https://as2.ftcdn.net/v2/jpg/04/51/08/13/1000_F_451081320_RC10HGGrW4ycJbNr5hJ5QokeqOTDsrlm.jpg" class="img-fluid rounded">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'inventory:addingredient' %}">
            <button type="button" class="btn btn-primary">Add Ingredient</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}