{% extends 'inventory/base.html' %}
{% load static %}

{% block title %}

<title>Menu Items</title>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-6 p-3">
            <table id="purchaseTable" class="table table-hover table-borderless bg-transparent">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </thead>
                <tbody>
                    {% for item in menu_items %}
                    <tr>
                        <th class="menu-item-link" scope="row"><a href="{% url 'inventory:recipelist' item.id %}">{{ item.title|title }}</a></th>
                        <td>${{ item.price }}</td>
                        <td>
                            <a href="{% url 'inventory:purchaseitem' item.id %}">
                            <button type="button" class="btn btn-outline-primary btn-sm">Purchase</button></a>
                            <a href="{% url 'inventory:editmenuitem' item.id %}">
                            <button type="button" class="btn btn-outline-secondary btn-sm">Edit</button></a>
                            <a href="{% url 'inventory:deletemenuitem' item.id %}">
                            <button type="button" class="btn btn-outline-danger btn-sm">Remove</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-6 p-3">
            <img src="{% static 'inventory/steak.png' %}" class="img-fluid rounded">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
        <a href="{% url 'inventory:addmenuitem' %}">
            <button type="button" class="btn btn-primary">Add Menu Item</button></a>
        </div>
    </div>
</div>

{% endblock %}