{% extends 'inventory/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-6 p-3">
            <table id="purchaseTable" class="table table-hover table-borderless" data-show-footer="true">
                <thead>
                    <tr>
                        <th class="th-sm">Title</th>
                        <th data-field="price" data-searchable="true" data-footer-formatter="priceFormatter" class="th-sm">Price</th>
                        <th class="th-sm">Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in purchase_items|dictsortreversed:"timestamp" %}
                    <tr>
                        <td>{{ item.menu_item.title }}</td>
                        <td>{{ item.menu_item.price }}</td>
                        <td>{{ item.timestamp }}</td>     
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>Total:</td>
                        <td id="totalPrice"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col col-3 offset-md-3 results-box-div">
            <div id="results-box" class="results-card not-visible text-right bg-dark rounded-bottom"></div>
    </div>
</div>


{% endblock %}

