{% extends 'inventory/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <table id="menuTable" class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th>Menu Item</th>
                        <th>Menu Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
            </table> 
        </div>
    </div>
</div>

{% endblock %}