{% extends 'inventory/base.html' %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load sum_table %}


{% block content %}


<div class="container">
    <div class="row">
        <div class="col-6 p-3">
            <h3>{{ week|date:'Y' }} - Week {{ week|date:'W' }}</h3>
            <table id="menuItems" class="table table-hover table-borderless" style="white-space:nowrap; width:1%">
                {% for purchase in object_list %}
                <tr>
                    <td scope="row">{{ purchase.menu_item.title|title }}</td>
                    <td scope="row" style="text-align:right">{{ purchase.menu_item.price }}</td>
                    <td scope="row">{{ purchase.timestamp|date:"F j, Y" }}</td>
                </tr>
                {% endfor %}
            </table>
            <table class="table table-hover table-borderless" style="width:22.5%">
                <tr>
                    <td scope="row">Totals:</td>
                    <td scope="row" style="text-align:right"><span id="totalPrice"></span></td>
                </tr>
            </table>
        </div>
        <div class="col-3 offset-md-3">
            <div id="results-box" class="results-card not-visible text-right bg-dark rounded-bottom"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            {% if previous_week %}
                {% with prev_week_year=previous_week|date:"Y" prev_week=previous_week|date:"W" %}
                <a href="{% url 'archiveweek' prev_week_year prev_week %}">
                    <button type="button" class="btn btn-primary">
                    Previous Week
                    </button>
                </a>
                {% endwith %}
            {% endif %}
            {% if previous_week and next_week %}--{% endif %}
            {% if next_week %}
                {% with next_week_year=next_week|date:"Y" n_week=next_week|date:"W" %}
                <a href="{% url 'archiveweek' next_week_year n_week %}">
                    <button type="button" class="btn btn-primary">
                    Next week
                    </button>
                </a>
                {% endwith %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}