{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 p-3">
            <div class="menu-item">
                <h3>{{ menu_item.title }}</h3>
                <div class="ingredient-list-row">
                    <table id="purchaseTable" class="table table-hover table-borderless">
                        {% for item in rr %}
                            {% if item.menu_item.id == menu_item.id %}
                            <tr>
                                <td class="left-row" scope="row">{{ item.ingredient.name|title }}</td>
                                <td class="right-row" scope="row">{{ item.quantity }} {{ item.ingredient.unit|title }}</td>
                                <td class="right-row" scope="row">Remaining: {{ item.ingredient.quantity }}</td>
                            </tr>
                            {% endif %}
                        {% endfor %} 
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-6 p-3">
            <img src="{% static 'inventory/steak.png' %}" class="img-fluid rounded">
        </div>
    </div>
</div>

{% endblock %}