{% extends 'inventory/base.html' %}

{% block title %}
<title>Menu Items</title>
{% endblock %}

{% block content %}

<table class="table table-hover table-borderless" style="white-space:nowrap; width:1%">
    <thead>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
    </thead>
    <tbody>
        {% for purchase in purchases|dictsort:"timestamp" %}
        <tr>
            <th scope="row">{{ purchase.menu_item.title|title }}</th>
            <td>${{ purchase.menu_item.price }}</td>
            <td>{{ purchase.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="row" class="table-secondary">Totals</th>
            <th class="table-secondary">${{ total_price }}</th>
        </tr>
        <tr>
            <th scope="row" class="table-danger">Inventory</th>
            <th class="table-danger">${{ inventory_cost }}</th>
        </tr>
        <tr>
            <th scope="row" class="table-success">Revenue</th>
            <th class="table-success">${{ revenue }}</th>
        </tr>
    </tfoot>
</table>

{% endblock %}