{% extends 'inventory/base.html' %}
{% load static %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
<title>Menu Items</title>
{% endblock title %}

{% block scripts %}
    <script src="{% static 'inventory/main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}

<div>
    <form id="search-form" autocomplete="off">
        {% csrf_token %}
        <input type="text" id="search-input" class="search" placeholder="Search"/>
    </form>
    <div id="results-box" class="results-card not-visible">
    </div>
</div>

<div>
    <table class="table table-hover table-borderless" style="width:40%">
        {% for purchase in purchases|dictsortreversed:"timestamp"|slice:":10" %}
        <tr>
            <td scope="row">{{ purchase.menu_item.title|title }}</td>
            <td scope="row">${{ purchase.menu_item.price }}</td>
            <td scope="row">{{ purchase.timestamp }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}