a:hover {
    text-decoration: none;
}

.search {
    margin: 10px;
}

.search:focus {
    background-color:rgb(211, 230, 238);
}

.results-card {
    max-height: auto;
    padding: 15px 15px;
}

.not-visible {
    display: none;
}

.item {
    text-decoration: none;
}

.results {
    color:rgb(255, 255, 255)
}

.menu-item {
    padding: 10px 10px 10px 10px;
}

.right-row {
    text-align: right;
}

.menu-item-link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu-item-link a:hover {
    color:rgb(122, 122, 122);
}